{% extends 'layout.html' %}

{% block content %}
    <div class="card-columns"></div>
{% endblock %}

{% block script %}
    <script>
        let cardColumns = document.querySelector('.card-columns');
        let page = 1;
        let booksMode = ['special', 'publishers', 'keyword'];
        let getBooksMode = location.href.split('/').filter(x => x !== '')[2];
        let hasBooksMode = booksMode.indexOf(getBooksMode) !== -1;
        let id = null;
        let isMaxLow = false;
        let userProducts = null;
        let userId = '{{ request.user.id }}';
        let isLogin = '{{ request.user.is_authenticated }}'.toLowerCase() === 'true';

        window.addEventListener('scroll',() => {
            let curHeight = document.documentElement.scrollHeight - window.innerHeight;
            let maxHeight = document.documentElement.scrollTop;

            if (curHeight === maxHeight){
                getAndRenderBooks();
            }
        })

        window.onload = async () => {
            switch (getBooksMode) {
                case 'special':
                    id = '{{ special_id }}'
                    break;
                case 'publishers':
                    id = '{{ publishers_id }}'
                    break;
                default:
                    id = '{{ keyword_id }}'
            }

            userProducts = await getUserProducts();
            getAndRenderBooks();
        }

        function getSpecialBooks(id, page){
            if(hasBooksMode && !isMaxLow)
                return fetch(`/book/${getBooksMode}/${id}/${page}`).then(res => res.json()).then(res => res);
        }

        function renderSpecialBooks(books){
            books.forEach(book => {
                let bookDiv = document.createElement('div');
                let bookImg = document.createElement('img');
                let bookBody = document.createElement('div');
                let bookName = document.createElement('p');
                let bookPrice = document.createElement('p');
                let bookButton  =  document.createElement('a');
                let bookmarkButton = document.createElement('button');

                bookDiv.className = 'card text-center';
                bookDiv.style.width = '18rem';
                bookImg.className = 'card-img-top';
                bookImg.src = book.img_link;
                bookBody.className = 'card-body';
                bookName.className = 'card-text';
                bookName.innerText = book.name;
                bookPrice.className = 'card-text';
                bookPrice.innerText = book.price;
                bookButton.className = 'btn btn-primary';
                bookButton.innerText = '前往購買';
                bookButton.href = book.link;

                if(userProducts.indexOf(parseInt(book.product_id)) === -1){
                    bookmarkButton.className = 'btn btn-primary bi bi-star ml-1';
                }else{
                    bookmarkButton.className = 'btn btn-primary bi bi-star-fill ml-1';
                }

                bookmarkButton.addEventListener('click',async () => {
                    let product_id = book.product_id

                    if(userProducts.indexOf(parseInt(book.product_id)) === -1){
                        await fetch(`/user/add/${product_id}`).then(res => res.text()).then(res => res);
                    }else{
                        await fetch(`/user/delete/${product_id}`).then(res => res.text()).then(res => res);
                    }

                    location.reload();
                });

                bookBody.append(bookName, bookPrice, bookButton, bookmarkButton);
                bookDiv.append(bookImg, bookBody);
                cardColumns.append(bookDiv);
            });
        }

        async function getAndRenderBooks(){
            let books = await getSpecialBooks(id, page);

            if(books === undefined || books.length === 0) {
                isMaxLow = !isMaxLow
                alert('此出版社書籍已到最底。');
                return;
            }

            renderSpecialBooks(books);

            page++;
        }

        async function getUserProducts(){
            return await fetch(`/user/products/${userId}`).then(res => res.json()).then(res => res.map(x => x.product_id));
        }
    </script>
{% endblock %}