{% extends 'layout.html' %}

{% block title %}
    搜尋書籍結果
{% endblock %}

{% block content %}
    <div class="card-columns"></div>
{% endblock %}

{% block script %}
    <script>
        let cardColumns = document.querySelector('.card-columns');
        let page = 1;
        let keyword = '{{ keyword }}';
        let isMaxLow = false;

        window.addEventListener('scroll',() => {
            let curHeight = document.documentElement.scrollHeight - window.innerHeight;
            let maxHeight = document.documentElement.scrollTop;

            if (curHeight === maxHeight){
                getAndRenderBooks();
            }
        })

        window.onload = () => {
            getAndRenderBooks();
        }

        function getKeywordBooks(keyword, page){
            if(!isMaxLow)
                return fetch(`/keywordBooks/${keyword}/${page}`).then(res => res.json()).then(res => res);
        }

        function renderSpecialBooks(books){
            books.forEach(book => {
                let bookDiv = document.createElement('div');
                let bookImg = document.createElement('img');
                let bookBody = document.createElement('div');
                let bookInfo = document.createElement('p');
                let bookStatus = document.createElement('p');
                let bookButton  =  document.createElement('a');

                bookDiv.className = 'card text-center';
                bookDiv.style.width = '18rem';
                bookImg.className = 'card-img-top';
                bookImg.src = book.img;
                bookBody.className = 'card-body';
                bookInfo.className = 'card-text';
                bookInfo.innerText = book.info;
                bookStatus.className = 'card-text';
                bookStatus.innerText = book.status;
                bookButton.className = 'btn btn-primary';
                bookButton.innerText = '前往購買';
                bookButton.href = book.link;

                bookBody.append(bookInfo, bookStatus, bookButton);
                bookDiv.append(bookImg, bookBody);
                cardColumns.append(bookDiv);
            });
        }

        async function getAndRenderBooks(){
            let books = await getKeywordBooks(keyword, page);

            if(books === undefined || books.length === 0) {
                isMaxLow = !isMaxLow
                alert('此書籍已到最底。');
                return;
            }

            renderSpecialBooks(books);

            page++;
        }
    </script>
{% endblock %}